@import 'font.css';

/* root start */

:root {
    --mb: 'Montserrat-Bold';
    --mr: 'Montserrat-Regular';
    --grey: #eff6f3;
    --dark-grey: #626262;
    --black-grey: #323232;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

body {
    background: var(--grey);
    font-family: var(--mb);
    color: var(--dark-grey);
}

/* end root */




/* header start */

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav__left-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 15px;
}


.nav__span1 {
    width: 100%;
    color: #B49081;
    font-size: 12px;
    line-height: 121%;
    font-family: var(--mr);
}

.nav__span2 {
    font-size: 14px; 
    line-height: 121%;
    letter-spacing: 0.75em;
    color: #563529;

}

.nav__right-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.nav__list-link { 
    font-size: 16px;
    line-height: 125%;
    color: var(--dark-grey);
    font-family: var(--mr);

}

.nav__consultation-icon { 
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 6px;
    padding: 9px 39px;
    color: var(--dark-grey);
    font-family: var(--mr);


}

.header__content {
    position: relative;
    display: flex;
    align-items: center;
    
    height: 698px;
}

.header__content-picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -2;
    object-fit: cover;
    

}

.header__content-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;
    height: 100%;
}

.header__content-title {
    color: var(--black-grey);
    
    
    
}

.header__content-img {
    
    height: 404px;
    
    

}




.header__appstore {
    

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.header__pictures {
    padding: 27px 99px; 
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #EAEAEA;
    box-shadow: 0px 59px 30px -40px rgba(0, 133, 255, 0.1);
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 20px;
    align-items: center;

}


/* header end */



/* main start */



.exchange {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 69px 0;
}

.exchange__information {
    display: flex;
    flex-direction: column;
}

.exchange__currency-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.exchange__title {
    padding-bottom: 32px;
}

.exchange__doll, .exchange__rubl, .exchange__euro, .exchange__yuan {
    display: flex;
    flex-direction: row;
    margin: 30px;
    align-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 30px 30px -15px rgba(0, 133, 255, 0.1);
    border-radius: 13px;
    padding: 15px;
    gap: 12px;
    
}

.doll__sign {
    background: #DA0000;
    border-radius: 13px;
    padding: 11px 15px;
}

.rubl__sign {
    background: #007EDA;
    border-radius: 13px;
    padding: 8px 12px;
}

.euro__sign {
    background: #0083AC;
    border-radius: 13px;
    padding: 8px 9px;
}

.yuan__sign { 
    background: #00CDDA;
    border-radius: 13px;
    padding: 13px 11px;

}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.card__information {
    display: flex;
    flex-direction: column;
}

.card__title {
    font-size: 30px;
    line-height: 123%;
    margin-bottom: 12px;

}

.card__title-visa {
    font-size: 20px;
    line-height: 120%;
    font-family: var(--mr);
    padding-bottom: 20px;
}


.card__information-comission1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px 0 ;
}

.card__information-link {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin-top: 30px;
}



.card__link-order { 
    font-size: 16px;
    line-height: 125%;
    color: var(--black-grey);
    padding: 9px 54px; 
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 6px;
    font-family: var(--mr);
    

}

.card__link-more {
    font-size: 16px;
    line-height: 125%;
    color: var(--black-grey);
    
}


.loan__text-box {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 30px;
}

.loan {
    margin-top: 50px;
    margin-bottom: 40px;
    position: relative;
}

.loan__text {
    text-align: center;
    font-size: 30px;
    line-height: 123%;
}

.loan__box-item1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #BDC4FF;
    box-shadow: 0px 40px 30px -25px rgba(189, 196, 255, 0.5);
    border-radius: 10px;
    padding: 20px;


   
    

}

.loan__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loan__box-title { 
    font-size: 20px;
    line-height: 120%;

    position: relative;

}

.loan::after {
    content: 'ХИТ';
    display: block; 
    font-size: 12px;
    line-height: 125%;
    color: #000000;
    top: 55px;
    left: 15px;


    position: absolute; 
    background: rgba(255, 255, 255, 0.4);
    border: 0.5px solid rgba(215, 215, 215, 0.3);
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7.5px);
    border-radius: 4px;
    padding: 3px 16px;
    
}

.loan__box-text, .loan__box-date {
    font-size: 15px;
    line-height: 125%;
    font-family: var(--mr);
    
    
}

.loan__box-date {
    margin-bottom: 15px;

}

.loan__link {
    padding: 9px 54px; 
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 6px;
    color: var(--black-grey);
    font-family: var(--mr);
    
}


.loan__box-item2 {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: #FFD280;
    box-shadow: 0px 40px 30px -25px rgba(255, 210, 128, 0.4);

    border-radius: 10px;
    padding: 20px;

    
}

.loan__box-title2 {

    font-size: 20px;
    line-height: 120%;
}


.loan__text::after {

    content: 'ХИТ';
    display: block; 
    font-size: 12px;
    line-height: 125%;
    color: #000000;
    top: 55px;
    right: 550px;


    position: absolute; 
    background: rgba(255, 255, 255, 0.4);
    border: 0.5px solid rgba(215, 215, 215, 0.3);
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7.5px);
    border-radius: 4px;
    padding: 3px 16px;
    

}

.loan__link-all { 
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 6px;
    padding: 9px 82px;
    margin: 30px 50px; 
    
    font-size: 16px;
    line-height: 125%;
    color: #323232;
    font-family: var(--mr);

}

.after__loan {
    text-align: center;
    margin-bottom: 50px;
}


.mobile__title {
    text-align: center;
    font-size: 30px;
    line-height: 123%;
    margin-bottom: 30px;
}



/* grid in last main */



.mobile__box {
    display: grid;     
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 30px;
    margin-bottom: 30px;
    
}

.mobile__item1 {
    grid-row: span 2;
}

.mobile__item1 { 
    background: #97EAB9;
    box-shadow: 0px 40px 30px -25px rgba(151, 234, 185, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mobile__item-title {
    padding: 25px 0; 
    font-size: 30px;
    line-height: 123%;
    
}

.mobile__item2 { 
    background: #FFC1BD;
    box-shadow: 0px 25px 30px -20px rgba(255, 193, 189, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    gap: 20px;

}



.mobile__item3 { 
    background: #C1B7FF;
    box-shadow: 0px 25px 30px -25px rgba(193, 183, 255, 0.4);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 63px;
    gap: 20px;

}

.mobile__app {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.google__mobile-app { 
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 12px;
    padding: 27px 86px;

}

.appstore__mobile-app { 
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 12px;
    padding: 26px 106px;

}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 10px;
}

.footer__text {
    text-align: center;
}

.footer__span1 {
    width: 100%;
    color: #B49081;
    font-size: 20px;
    line-height: 121%;
    font-family: var(--mr);
}

.footer__span2 {
    font-size: 24px; 
    line-height: 121%;
    letter-spacing: 0.75em;
    color: #563529;

}

.footer__text {
    padding: 25px; 
    font-size: 20px;
    line-height: 121%;
}


@media (max-width:1200px) {
    .exchange {
        flex-direction: column;
    }

    .header__appstore {
        left: 250px;
    }

    .loan__text::after { 
        right: 440px;
    }
}


@media (max-width:950px)  {
.header__content-all {
    flex-direction: column; }

    .header__content-all {
        row-gap: 30px;
}

    .card {
        flex-direction: column;
    }

    .header__nav {
        margin-bottom: 20px;
        align-items: center;
        flex-direction: column;
    }

    .header__content {
        height: 100%;
        row-gap: 30px;
    }

    .header__content-title {
        padding-top: 50px;
    }

    .header__appstore {
        left: 180px;
        height: auto;
    }

    .mobile__box {
        display: flex;
        flex-direction: column;
    }


}


@media (max-width:700px) {

    
    .header__appstore {
        left: 100px;
    }

    .mobile__app {
        flex-direction: column;
    }
    
    .loan__text-box {
        display: flex;
        flex-direction: column;
    }

    .nav__right-list {
        flex-direction: column;

    }
    

    .header__content-title {
        text-align: center;
    }

    .exchange__currency-info {
        flex-direction: column;
    }

    .exchange__title {
        text-align: center;
        margin-top: 20px;
        padding-bottom: 10px;

    }




}

@media (max-width:550px) {
    .header__content-all {
    
        height: auto;
    
    }

    .header__content-img  {

        max-width: 400px;
        width: 100%;
        height: auto;
        
    }

    .card__img {
        max-width: 400px;
        width: 100%;
        height: auto;

    }

    .exchange__picture-globe {
        max-width: 400px;
        width: 100%;
        height: auto;
    }

    .header__pictures {
        display: flex;
        flex-direction: column;
    }

    .mobile__item-img {
        max-width: 300px;
        width: 100%;
        height: auto;
    }

    .mobile__item1, .mobile__item2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .mobile__item-title {
        text-align: center;
    }

    .logo__img {
        max-width: 50px;
        width: 100%;
        height: auto;
    }

    .header__pictures {
        padding: 10px 50px;
        margin-top: 20px;
    }

    .card__information-comission1 {
        gap: 10px;
    }
}